::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #444547;
  border-radius: 10px;
  z-index: -1;
  /* outline: 1px solid slategrey; */
}

.loader {
    border: 4px solid #ffffff80;
      border-top: 4px solid #f3f3f3;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sidebar-nav-links a.active {
      border: 1px solid #ffffff;
        background-color: #f2f2f2;
        color: #333;
        font-weight: 600;
}